[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"

[dev-packages]
ipython = "*"
flask = "*"
frozen-flask = "*"
pylint = "*"
flask-flatpages = "*"
pyyaml = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
